// .scroll:-webkit-scrollbar {
//     display: none;
//     background-color: red;
//   }



//   dashboard
.heroSec{
    background-color: #333333;
    background-image: 
        radial-gradient(at 47% 33%, hsl(163.16, 76%, 14.000000000000002%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
        height: 400px;
        width: 100%;
}

.dashBoardCont {
    margin-left: 240px;
    margin-top: 70px;
  

}

.gridPanel {


    h2 {
        font-weight: bold;
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }
}

.iconHolder {
    height: 50px;
    width: 50px;
    border-radius: 50%;


    span {
        font-size: 25px;
    }
}

.projectMarker{
    height: 15px;
    width: 15px;
    background-color: red;
}

.profile{
    h6{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
}