.formHeading{
    h1{
        font-size: 35px;
        font-weight: bold;
    }
    h3{
        font-size: 25px;
        font-weight:bold;
    }
}

.pageCont{
    height: 100vh;
}

.imgSec{
    background: url('https://images.pexels.com/photos/6347901/pexels-photo-6347901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
    height: 100vh;
}